/* MAIN*/

*
{
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1, h2, h3, h4 {
    color:#444
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}

h2 {
    
    font-size: 55px;
}
h3{
    font-size: 30px;
    
}
h4 {
    font-size: 24px;
    
}
small {
    font-size: 13px;
    font-style: italic;
}
p {
    line-height: 20px;
    color: #777;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#444;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clear {
    clear: both;
}
.orange{
    color: orange;
}



/* HEADER*/
header{
    height: 120px;

}

header h1{
    float: left;
    margin-top: 32 px;
}

header nav{
    float: right;
    margin-top: 50px;
}

header nav ul li {
    float: left;
    display: inline-block;
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/*MAIN IMAGE*/
#main-image{
    height: 500px;
    background: url('images/bora.jpeg')  no-repeat;
    background-size: 100%;
}

#main-image h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align:center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
    color: white;
}
.button-1 {
    display: block;
    width: 120px;
    height: 50px;
    background: teal;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;

}

.button-1:hover {
    background: orange;
}

#steps ul {
    margin: 10px 0;
}

#steps ul li {
    width: 300px;
    float: left;
    padding-top: 210px;
    text-align: center;
    margin-right: 5px;

}

#steps h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p{
    margin-bottom: 20px;
}

#step-1{
    background: url('images/pen.png') no-repeat top center;
}

#step-2{
    background: url('images/book.png') no-repeat top center;
}

#step-3{
    background: url('images/globe.png') no-repeat top center;
}

/*POSSIBILITIES*/

#possibilities{
    background-color: #efefef;
    padding: 60px 0;
    
}

#possibilities article{
    width:460px;
    height: 270px;
    float: left;
    border-radius: 10px;
}

#possibilities article:first-child {
    margin-right: 20px;
}

#possibilities p {
    text-align: center;
    margin-bottom: 20px;
    
}

.overlay {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

article h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities small {
    text-align: center;
}

.button-2 {
    color: white;
    background-color: teal;
    padding: 6px 20px;
    border-radius: 3px;
}

.button-2 :hover {
    color: white;
    background-color: orange;
   
}

/*Contact*/

#contact{
    padding: 60px 0;
    text-align: center;
}

#contact h3{
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid turquoise;
    padding-bottom: 20px;
}

form {
    margin: 60px 0 20px 0;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color:#777;

}

input[type = "text"]{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.button3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: turquoise;
    border-radius: 3px;
}

.button3 :hover {
    color: white;
    background-color: orange;
}

/*FOOTER*/

footer{
    height: 240px;
    background-color: #444;
}

footer h1 {
    color:white;
    text-align: center;
    padding-right: 80px;
}

.copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: black;
}